name: bin_update

on: 
#   release:
#       types: [published]
#   push:
#       tags:
#       - 'v*'
#   branches: 
#       - master
    schedule:
        - cron: 0 18 * * *
#   watch:
#       types: [started]
    workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout
      uses: actions/checkout@v4
 
    - name: Apt Update
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get update
        sudo apt-get -y install unzip curl git tar
        
    - name: Update Dashboard
      run: |
        mkdir -p bin
        mkdir -p bin/dashboard
        mkdir -p bin/geodata
        cd bin/dashboard
        echo 下载官方面板
        curl -kfSL -o dashboard.zip  https://github.com/Dreamacro/clash-dashboard/archive/gh-pages.zip
        echo 下载Meta面板
        curl -kfSL -o dashboard_meta.zip  https://github.com/MetaCubeX/Razord-meta/archive/gh-pages.zip
        echo 下载yacd面板
        curl -kfSL -o yacd.zip  https://github.com/haishanh/yacd/archive/gh-pages.zip 
        echo 下载meta魔改yacd面板
        curl -kfSL -o yacd_meta.zip  https://github.com/MetaCubeX/Yacd-meta/archive/gh-pages.zip
        echo 下载metacubexd面板
        curl -kfSL -o metacubexd.zip  https://github.com/metacubex/metacubexd/archive/gh-pages.zip
        cd ..
        echo 面板更新完成！
        
    - name: Update GeoIP
      run: |
        cd \bin
        source version
        curl -kfSL -o geodata/Country.mmdb https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/country.mmdb
        curl -kfSL -o geodata/country-lite.mmdb https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/country-lite.mmdb
        curl -kfSL -o geodata/cn_mini.mmdb https://raw.githubusercontent.com/Hackl0us/GeoIP2-CN/release/Country.mmdb
        curl -kfSL -o geodata/geoip-lite.dat https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/geoip-lite.dat
        curl -kfSL -o geodata/geoip.dat https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/geoip.dat
        curl -kfSL -o geodata/geosite-lite.dat https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/geosite-lite.dat
        curl -kfSL -o geodata/geosite.dat https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/geosite.dat
        curl -kfSL -o geodata/cn.txt https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/cn.txt
        curl -kfSL -o geodata/cn_domain.yaml https://github.com/gdfsnhsw/meta-rules-dat/releases/download/latest/cn_domain.yaml
        curl -kfSL -o geodata/china_ip_list.txt https://raw.githubusercontent.com/17mon/china_ip_list/master/china_ip_list.txt
        curl -kfSL -o geodata/direct-list.txt https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/direct-list.txt
        curl -kfSL -o geodata/reject-list.txt https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/reject-list.txt
        curl -kfSL -o geodata/gfw.txt https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/gfw.txt
        curl -kfSL -o geodata/CN-ip-cidr.txt https://raw.githubusercontent.com/Hackl0us/GeoIP2-CN/release/CN-ip-cidr.txt
        curl -kfSL -O https://raw.githubusercontent.com/P3TERX/ca-certificates.crt/download/ca-certificates.crt
        sed -i '/GeoIP_v*/'d version
        echo GeoIP_v=`date '+%Y%m%d'` >> version
        echo IP数据库及根证书文件更新完成！
    - name: Commit and push
      run: |
        git config --global user.email "gdfsnhsw@gmail.com" && git config --global user.name "gdfsnhswBot"
        git add . && git commit -m "自动更新最新Dashboard、地址库、根证书" || exit 0
        git push
        
    - name: Cleanup Workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 3
