name: Update Meta Core
on:
  push:
    branches: 
      - main
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "30 2 * * *"
  workflow_dispatch:
    # inputs:
    #   tag:
    #     description: 'tag of Clash Meta, such as Prerelease-Alpha, Prerelease-Beta, v1.11.1'
    #     required: true
    #     type: string
env:
  # download_tag: ${{ github.event.inputs.tag }}
  download_version: ''
  download_url: https://github.com/MetaCubeX/Clash.Meta/releases/download
jobs:
  Update:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repository
      uses: actions/checkout@main
    - name: Init Dependencies
      run: |
        wget https://github.com/upx/upx/releases/download/v3.96/upx-3.96-amd64_linux.tar.xz
        wget https://github.com/upx/upx/releases/download/v3.93/upx-3.93-amd64_linux.tar.xz
        tar xf upx-3.96-amd64_linux.tar.xz
        tar xf upx-3.93-amd64_linux.tar.xz
    - name: Download Core
      run: |
        download_version=$(curl -sL https://api.github.com/repos/MetaCubeX/Clash.Meta/releases/latest | grep '"tag_name": ' | sed -E 's/.*"([^"]+)".*/\1/' | head -n 1)
        echo "download_version=${download_version}" >> ${GITHUB_ENV}
        archs=(amd64-compatible armv7 arm64)
        new_name=(amd64 armv7 arm64)
        mkdir tmp
        for((i=0;i<3;i++));do
          wget "${download_url}/${download_version}/Clash.Meta-linux-${archs[i]}-${download_version}.gz" -O - | gunzip -c > ./tmp/clash-linux-${new_name[i]}
          chmod +x ./tmp/clash-linux-${new_name[i]}
          if [ "${archs[i]}" != "armv5" ];then
            if [[ ${archs[i]} = mips* ]];then
              ./upx-3.93-amd64_linux/upx ./tmp/clash-linux-${new_name[i]}
            else
              ./upx-3.96-amd64_linux/upx ./tmp/clash-linux-${new_name[i]}
            fi
          fi
        done
        rm -fr upx*
    - name: Update
      run: |
        rm -fr ./bin/clash_meta/*
        cp ./tmp/* ./bin/clash_meta/
        rm -fr ./tmp
        sed -i "s/clashmeta_v=.*/clashmeta_v=$(./bin/clash_meta/clash-linux-amd64 -v 2>/dev/null | head -n 1 | sed 's/ linux.*//;s/.* //')/" bin/version
    - name: Commit and push
      run: |
        git config --global user.email "gdfsnhsw@gmail.com" && git config --global user.name "gdfsnhswBot"
        git add . && git commit -m "更新Meta内核至${download_version}" || exit 0
        git push
